@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/** VARIABLES **/

$title-font: "VT323", monospace;

$dark-gray: #403c3e;
$gray-shad: #332f31;
$off-white: #f5f3dc;

$pdex-red: #e24631;
$pdex-red-highlight: #e8776c;
$pdex-red-shadow: #913228;
$pdex-blue: #4dbefc;
$pdex-blue-highlight: #afe4f7;
$pdex-blue-shadow: #316698;
$pdex-green: #41bc52;
$pdex-green-shadow: #2b9c3a;
$pdex-green-highlight: #9bdfa4;
$pdex-med-gray: #737373;
$pdex-light-gray: #cdcdcd;
$pdex-light-gray-shadow: #a1a1a1;
$pdex-black: #323232;
$pdex-black-highlight: #4b4b4b;
$pdex-yellow: #fbb012;

$pdex-shadow-border: rgba(58, 58, 58, 0.3);
$pdex-shadow-text: rgba(255, 255, 255, 0.85);

$background-body: $dark-gray;
$button: #57c1f9;
$button-text: #e2fcff;
$border: #2d2d2d;
$dash-bg: $pdex-red;
$dash-border: $pdex-red-shadow;
$dash-card-bg: $pdex-light-gray;
$text-gen: #f8fdff;
$label-bg: #f8fdff;

$hp-bg: #e4e4e4;
$hp-border: #525252;

/** GENERAL **/

body {
  background-color: $background-body;
}

.app-wrapper {
  height: 80vh;
  width: 80%;
  min-height: 800px;
  min-width: 1100px;
  margin: 5vh auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $background-body;

  overflow: hidden;
}

.view-wrapper {
  position: absolute;
  margin: auto;

  height: 700px;
  width: 1100px;
  border-radius: 36px;
  box-shadow: 20px 20px $gray-shad;
}

/** REUSABLE **/

.popup {
  position: absolute;
  z-index: 99;

  background-color: $pdex-light-gray;
  border-radius: 36px;
  border: 5px solid $pdex-shadow-border;
  outline: 5px solid $pdex-black-highlight;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .close-window {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -7px;
    right: -7px;
    width: 50px;
    height: 40px;
    border-radius: 0 16px;
    cursor: pointer;
    background-color: $button;
    border: 3px solid $pdex-shadow-border;
    outline: 3px solid $pdex-black-highlight;
    font-size: 28px;
    color: $off-white;
  }
}

.move-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;

  width: 70%;
  height: 48px;
  min-height: 48px;

  border: 4px solid $pdex-shadow-border;
  outline: 4px solid $pdex-black-highlight;

  font-weight: 700;
  line-height: 16px;
  color: $pdex-shadow-text;
  color: $pdex-shadow-text;
}
.move-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid $pdex-shadow-border;
  outline: 4px solid $pdex-black-highlight;
  background-color: $off-white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 2s linear infinite;
  color: $pdex-shadow-text;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move-detail {
  text-align: center;
  color: $pdex-black-highlight;
  padding: 10px;
  background-color: $pdex-shadow-text;
  outline: $pdex-black-highlight;
  h3 {
    font-size: 18px;
    line-height: 18px;
  }
  h4 {
    color: $pdex-black-highlight;
    font-size: 16px;
    line-height: 16px;
    margin: 6px 0;
  }
  p {
    font-size: 12px;
    font-weight: 400;
  }
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// button {
//   width: 200px;
//   height: 48px;
//   background-color: $pdex-blue;
//   border-radius: 12px;
//   color: $pdex-shadow-text;
//   border: 4px solid $pdex-shadow-border;
//   outline: 4px solid $pdex-black-highlight;
//   font-size: 20px;
//   font-weight: 700;
// }

/** LANDING **/

.landing-container,
.login-container {
  width: 100%;
  height: 100%;
  border-radius: 36px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 8px solid $dash-border;
  outline: 8px solid $border;
  background-image: url("../public/backgrounds/splash-bg.png");

  h1 {
    font-size: 60px;
    color: $pdex-shadow-text;
    margin: 20px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    border-radius: 36px;
    color: $pdex-shadow-text;
    border: 4px solid $pdex-shadow-border;
    outline: 4px solid $pdex-black-highlight;
    font-size: 48px;
    font-weight: 700;
  }
  .spinner {
    width: 85px;
    font-size: 60px;
  }
}

.landing-container {
  background-color: $pdex-red;
  h1 {
    margin-top: 200px;
  }
  button {
    background-color: $pdex-blue;
  }
  .mimikyu-sprite {
    position: absolute;
    left: 350px;
    top: -100px;
  }
}
.login-container {
  background-color: $pdex-yellow;
  button {
    background-color: $pdex-green;
  }
}

/** NAVBAR **/
.nav-container {
  z-index: 99;
  position: absolute;
  width: 1000px;
  height: 72px;
  top: -36px;
  left: 50px;
  .nav-bar {
    display: flex;
    justify-content: space-between;
    .nav-left {
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 72px;
        width: 360px;
        border-radius: 20px;
        color: $button-text;
        background-color: $button;
        border: 5px solid $pdex-shadow-border;
        outline: 5px solid $border;
        font-size: 48px;
        // font-family: $title-font;
      }
    }
    .nav-right {
      display: flex;
      justify-content: space-around;
      gap: 15px;
      .icon-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 72px;
        width: 72px;
        border-radius: 36px;
        color: $button-text;
        background-color: $button;
        border: 5px solid $pdex-shadow-border;
        outline: 5px solid $border;
        font-size: 28px;

        cursor: pointer;
      }
    }
  }
}

/** SETTINGS, ACHIEVEMENTS**/
.settings-container {
  width: 400px;
  height: 250px;
  left: 350px;
  top: 200px;
  ul {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    button {
      width: 100%;
      height: 48px;
      background-color: $pdex-blue;
      border-radius: 12px;
      color: $pdex-shadow-text;
      border: 4px solid $pdex-shadow-border;
      outline: 4px solid $pdex-black-highlight;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.achievement-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  height: 500px;
  left: 150px;
  top: 100px;
  h2 {
    font-size: 36px;
    color: $pdex-black-highlight;
  }
  .ach-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 20px;
    gap: 20px;
    width: 620px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 20px;

      width: 140px;
      height: 140px;
      background-color: $label-bg;
      border: 1px solid $border;
      border-radius: 50%;
    }
  }
  .ach-list::-webkit-scrollbar {
    display: none;
  }
  .spinner-container {
    margin: 100px;
  }
  .spinner {
    font-size: 60px;
    margin: 20px;
  }
}

/** DASHBOARD **/
.dashboard {
  height: 100%;
  background-color: $dash-bg;
  border-radius: 36px;
  border: 8px solid $dash-border;
  outline: 8px solid $border;
  .dash-body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

/** CHARINFO > POKEINFO & MOVEINFO **/

.char-info {
  width: 600px;
  height: 480px;

  display: flex;
  justify-content: space-between;
}

.poke-info-card,
.move-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $dash-card-bg;
  outline: 5px solid $pdex-black-highlight;
  border: 5px solid $pdex-shadow-border;
  width: 290px;
  border-radius: 36px;

  padding: 20px;
  gap: 20px;

  h2 {
    color: $pdex-black-highlight;
    font-size: 24px;
    font-weight: 700;
  }
  h3 {
    font-weight: 500;
  }
}

/** POKEINFO **/
.poke-info-card {
  gap: 15px;
  .poke-portrait {
    width: 90%;
    height: 200px;
    border: 2px solid black;
  }
  .type-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    .type-label {
      width: 80px;
      border-radius: 5px;
      color: $label-bg;
      text-align: center;
      border: 2px solid $pdex-shadow-border;
      outline: 2px solid $pdex-black-highlight;
    }
  }
  .poke-desc {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    h3 {
      font-size: 20px;
    }
  }
}

/** MOVEINFO **/
.move-info-card {
  gap: 10px;
  .move-item:first-of-type {
    margin-top: 20px;
  }
  .move-detail {
    position: absolute;
    left: 220px;
    top: 200px;
    width: 200px;
    height: 200px;
    border-radius: 12px;
    h3,
    h4 {
      font-weight: 700;
    }
  }
  button {
    width: 70%;
    height: 48px;
    border-radius: 12px;
    margin-top: 40px;
    background-color: $pdex-green;
    color: $pdex-shadow-text;
    border: 4px solid $pdex-shadow-border;
    outline: 4px solid $pdex-black-highlight;
    font-size: 20px;
    font-weight: 700;
  }
}

/** EDIT MOVES **/
.move-edit-window {
  position: absolute;
  left: 125px;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 850px;
  h2 {
    font-size: 36px;
    color: $pdex-black-highlight;
  }
  h3 {
    font-size: 24px;
    color: $pdex-black-highlight;
    width: 50%;
  }
  .move-arrows {
    z-index: 96;
    position: absolute;
    font-size: 80px;
    top: 100px;
    left: 285px;
    color: $pdex-shadow-text;
  }
  .move-edit-menu {
    display: flex;
    gap: 180px;
    button {
      width: 140px;
      border: none;
      margin: 8px 20px;
    }
    .move-item {
      width: 140px;
      margin: 0;
      font-size: 16px;
    }
    .moves-selected-container,
    .moves-avail-container {
      border: 4px solid $pdex-shadow-text;
      border-radius: 24px;
      height: 315px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .moves-selected-container {
      background-color: $pdex-green-highlight;
    }
    .moves-avail-container {
      background-color: $pdex-shadow-border;
      width: 380px;
    }
    .moves-selected {
      width: 180px;
    }
    .moves-avail {
      width: 340px;
      display: flex;
      flex-wrap: wrap;

      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      button {
        margin: 8px 15px;
      }
    }
    .moves-avail::-webkit-scrollbar {
      display: none;
    }
  }
  .move-detail {
    z-index: 97;
    position: absolute;
    width: 170px;
    top: 80px;
    left: 240px;
    h3 {
      font-size: 18px;
    }
    h4 {
      color: $pdex-black-highlight;
      font-size: 16px;
      line-height: 16px;
      margin: 6px 0;
    }
    p {
      font-size: 12px;
      font-weight: 400;
    }
  }
  .window-controls {
    display: flex;
    width: 50%;
    gap: 50px;
    margin: 24px;
    .save {
      margin: 0;
      background-color: $pdex-green;
    }
    .cancel {
      margin: 0;
      background-color: $pdex-red;
    }
  }
  .spinner {
    font-size: 60px;
    margin: 20px;
  }
}

/** ENTER GAME **/
.enter-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 320px;
  height: 480px;
  .dungeon-pic {
    width: 90%;
    height: 70%;

    border: 2px solid black;
    border-radius: 12px;
  }
  button {
    width: 90%;
    height: 80px;
    background-color: $pdex-green;
    color: $pdex-shadow-text;
    border: 4px solid $pdex-shadow-border;
    outline: 4px solid $pdex-black-highlight;

    border-radius: 24px;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 700;
  }
}

/** PLAY **/
.play-viewport {
  height: 700px;
  width: 1100px;
  border-radius: 36px;
  .dash-return {
    z-index: 99;
    position: absolute;
    left: -25px;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    border: 4px solid $pdex-shadow-border;
    outline: 4px solid $pdex-black-highlight;
    background-color: $hp-bg;
    color: $pdex-black-highlight;
    font-size: 28px;
  }
  .battle-room,
  .treasure-room,
  .end-game-room {
    height: 100%;
    width: 100%;
    border-radius: 36px;
    outline: 8px solid $border;
    border: 8px solid $pdex-shadow-border;
  }
  .battle-room {
    .battle-floor {
      display: flex;
      gap: 0px;
      position: absolute;
      left: 50px;
      bottom: 70px;
      .pokemon {
        width: 500px;
        height: 500px;
        background-size: contain;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        @keyframes wiggle {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-100px);
          }
          100% {
            transform: translateY(0);
          }
        }
        .effects {
          position: relative;
          left: 200px;
          top: 100px;
          font-size: 60px;
          animation: wiggle 1s ease-in-out infinite;
        }
      }
      .pokemon.show {
        opacity: 1;
      }
    }
    .move-select {
      display: flex;
      justify-content: space-between;
      width: 500px;
      gap: 10px;

      position: absolute;
      right: 300px;
      bottom: 70px;

      .move-item {
        border-radius: 12px;

        height: 56px;
        width: 120px;
      }

      .disabled-button {
        opacity: 0.6;
        cursor: not-allowed;
      }

      .move-detail {
        position: absolute;
        bottom: 80px;
        left: 100px;
        width: 300px;
        border-radius: 12px;
        h3 {
          font-size: 18px;
          font-weight: 700;
        }
        h4 {
          font-weight: 700;
        }
      }
    }
  }

  .treasure-room {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 48px;
      text-align: center;
    }
    .store-cards {
      width: 100%;
      display: flex;
      gap: 50px;

      .store {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 400px;
        border-radius: 24px;
        border: 5px solid $pdex-shadow-border;
        outline: 5px solid $pdex-black-highlight;
        h3 {
          font-size: 36px;
          margin-top: 24px;
          color: $pdex-shadow-text;
        }
        .option {
          display: flex;
          flex-direction: column;
          align-items: center;

          width: 80%;
          height: 30%;
          background-color: $pdex-shadow-text;
          border: 5px solid $pdex-shadow-border;
          outline: 5px solid $pdex-black-highlight;
          border-radius: 20px;
          padding: 10px 0;
          margin: 10px 0;
          button {
            width: 80%;
          }
        }
        .option.chosen {
          background-color: $pdex-green-highlight;
        }
        .spinner-container {
          margin: 50px;
        }
        .spinner {
          width: 85px;
          font-size: 60px;
        }
      }
    }
    button {
      width: 200px;
      height: 48px;
      background-color: $pdex-green;
      border-radius: 12px;
      color: $pdex-shadow-text;
      border: 4px solid $pdex-shadow-border;
      outline: 4px solid $pdex-black-highlight;
      font-size: 20px;
      font-weight: 700;
      margin-top: 24px;
    }
    button.continue {
      background-color: gray;
      cursor: not-allowed;
    }
    button.continue.active {
      background-color: $pdex-green;
      cursor: pointer;
    }
    .store-controls {
      .loading-msg {
        text-align: center;
        width: 200px;
        height: 56px;
        margin-top: 16px;
        font-size: 32px;
      }
    }
  }

  .end-game-room {
    background-color: $off-white;
  }
}

/** HEALTH BAR **/
.health-container {
  position: relative;
  top: -30px;
  left: 100px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;

  background-color: $hp-bg;
  color: $hp-border;
  background-image: url("/backgrounds/hp-bg.png");

  border: 3px solid $hp-border;
  outline: 2px solid white;
  .name-label {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 0 20px;
    font-weight: 500;
  }
  .health-bar {
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 5px 20px;
    padding: 2px 5px;
    background-color: $hp-border;
    border-radius: 6px;
    gap: 4px;
    h4 {
      color: #f9b900;
      font-weight: bold;
    }
    .health-max {
      height: 16px;
      width: 90%;
      border-radius: 2px;
      overflow: hidden;
      background-color: $hp-bg;
    }
    .health-value {
      height: 20px;
      transition: 0.55s;
    }
  }
}

/** GAME POPUPS **/
.splash-wrapper {
  overflow: hidden;
  .splash {
    width: 100%;
    z-index: 97;
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0;
    transition: opacity 1s, transform 1s;
    transform: translateY(-100%);
  }
  .splash.show {
    opacity: 1;
    transform: translateY(0);
  }
  .splash.hide {
    opacity: 0;
    transform: translateY(-100%);
  }

  .splash-shadow {
    z-index: 96;
    position: absolute;
    top: 300px;
    width: 100%;
    height: 200px;
    background-color: $pdex-shadow-border;
    opacity: 0;
    transition: opacity 1s, transform 1s;
  }
  .splash-shadow.show {
    opacity: 1;
  }
  .splash-shadow.hide {
    opacity: 0;
  }
}

.result-window {
  position: absolute;
  left: 150px;
  top: 100px;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  h2 {
    position: absolute;
    top: 50px;
    width: 800px;
    border: 4px solid $pdex-shadow-border;
    font-size: 60px;
    color: $pdex-shadow-text;
  }
  .win-title {
    background-color: $pdex-green;
  }
  .loss-title {
    background-color: $pdex-red;
  }
  h3 {
    background-color: $pdex-shadow-text;
    width: 50%;
    padding: 20px;
    border-radius: 24px;
    color: $pdex-black-highlight;
    font-size: 24px;
    font-weight: 600;
  }
  .window-controls {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 50px;
    button {
      width: 200px;
      height: 48px;
      background-color: $pdex-blue;
      border-radius: 12px;
      color: $pdex-shadow-text;
      border: 4px solid $pdex-shadow-border;
      outline: 4px solid $pdex-black-highlight;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

/** INVENTORY INFO **/

.inventory-wrapper {
  position: absolute;
  bottom: 145px;
  left: 50px;
  width: 90px;
  height: 320px;
  border-radius: 16px;

  overflow: hidden;

  display: flex;
  align-items: center;
}
.inv-open {
  height: 300px;
  transition: ease 1s;
}
.inv-closed {
  height: 0px;
  transition: ease 1s;
}

.inventory-window {
  position: relative;
  left: 5px;
  top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 280px;
  width: 80px;
  border-radius: 10px;

  .close-window {
    position: relative;
    top: -5px;
    left: 0px;
    width: 80px;
    border: none;
    outline: none;
    margin: none;
    border-radius: 10px 10px 0 0;
    border: 5px solid $pdex-shadow-border;
  }

  .item {
    min-height: 60px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin: 10px;
    background-color: red;
  }

  .disabled-button {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.inv-up {
  position: absolute;
  transition: 1s ease;
}

.inv-down {
  position: absolute;
  transition: 1s ease;
}

.inventory-button {
  position: absolute;
  bottom: 55px;
  left: 55px;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  border: 4px solid $pdex-shadow-border;
  outline: 4px solid $pdex-black-highlight;
  font-size: 20px;
  font-weight: 700;
}

/** BATTLE HISTORY **/

.battle-history-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;
  left: 350px;
  bottom: 150px;
  width: 400px;
  max-height: 100px;
  background-color: $pdex-shadow-text;
  border-radius: 12px;

  .battle-history-item {
    margin: 0 16px;
  }
}

/** COMICS **/

.comic {
  position: absolute;
  left: 150px;
  top: 60px;
  width: 800px;
  height: 580px;
  background-color: $pdex-light-gray;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fade-in-animation 0.2s ease-in forwards;
  .comic-container {
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .turnPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 60px;
    font-size: 36px;
    border: 4px solid $pdex-shadow-border;
    outline: 4px solid $pdex-black-highlight;
    border-radius: 24px;
    background-color: $pdex-green;
    color: $pdex-shadow-text;
  }
  .turnPage.disabled {
    background-color: $pdex-light-gray-shadow;
    cursor: not-allowed;
  }
  .turnPage.next {
    background-color: $pdex-red;
  }
}

.end-game-room {
  .complete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 55px;
    left: 450px;
    width: 200px;
    height: 60px;
    background-color: #ffac5a;
    border-radius: 16px;
    color: $pdex-shadow-text;
    border: 4px solid $pdex-shadow-border;
    outline: 4px solid $pdex-black-highlight;
    font-size: 20px;
    font-weight: 700;
  }
  .complete-button.disabled {
    background-color: $pdex-light-gray-shadow;
    cursor: not-allowed;
  }
}

.or-is-it {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 250px;
  top: 120px;
  width: 600px;
  height: 400px;
  font-size: 60px;
  opacity: 0;
  animation: fade-in-animation 0.2s ease-in forwards;

  h2 {
    font-size: 60px;
    color: $pdex-black-highlight;
  }
  .end-image {
    height: 200px;
    width: 400px;
    border: 1px black solid;
  }
  button {
    width: 200px;
    height: 48px;
    background-color: $pdex-blue;
    border-radius: 12px;
    color: $pdex-shadow-text;
    border: 4px solid $pdex-shadow-border;
    outline: 4px solid $pdex-black-highlight;
    font-size: 20px;
    font-weight: 700;
    margin: 24px;
  }
}
