/** VARIABLES **/

$light-blue: #d1d1ff;
$dark-blue: #b4b4ff;

$button: $light-blue;


.app-wrapper {
  position: fixed;
  left: 10%;
  top: 10vh;
  height: 80vh;
  background-color: lightgrey;
  width: 80%;
  border-radius: 2rem;

  // overflow: hidden;
}

body {
  max-height: 100vh;
  background-color: $dark-blue;
}

/** LANDING **/

.landing-container, .login-container {
  min-width: 100%;
  min-height: 100%;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background: $dark-blue;
    padding: 1rem 3rem;
    border-radius: 3rem;

    font-size: 3rem;
    color: white;
  }
}

.login-container {
  button {
    background: $light-blue;
  }
}


/** NAVBAR **/
.nav-bar {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  .nav-left {
    .logo {
      position: relative;
      transform: translateY(-50%);

      height: 5rem;
      width: 25rem;
      border-radius: 2.5rem;

      background-color: $button;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .nav-right {
    display: flex;
    justify-content: space-around;
    .icon-button {
      position: relative;
      transform: translateY(-50%);

      background-color: $button;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

/** CHARINFO **/

.char-info {
  margin: 2rem;
  width: 50%;
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
}

.poke-info-card, .move-info-card {
  background-color: white;
  height: 30rem;
  width: 20rem;
  border-radius: 3rem;
}
